body {
  background-image: radial-gradient(rgb(49, 49, 49), black, black, black);
  background-size: 300% 200%;
  background-position: center;
  overflow: hidden;
  backdrop-filter: blur(10px);
  color: white;
  height: 100%;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.errorcontent {
  color: white;
  text-align: center;
  margin-top: 50%;
  height: 100vh;
  padding: 10%;
  padding-right: 14%;
}